.container {
    background-color: #f9f9f9;
    padding-left: 18%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-container {
    padding-left: 7%;
}

@media (max-width: 900px) {
    .large-container,
    .container {
        padding: 1%;
    }
}
